src/test/resources/dbUnit/forDbUnitExtensionTest.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dataset (TEST_TABLE+, SECOND_TABLE, EMPTY_TABLE)>
<!ELEMENT TEST_TABLE EMPTY>
<!ATTLIST TEST_TABLE
	COL0 CDATA #FIXED "row 0 col 0"
	COL1 CDATA #REQUIRED
	COL2 CDATA #FIXED "row 0 col 2"
>
<!ELEMENT EMPTY_TABLE EMPTY>
<!ELEMENT SECOND_TABLE EMPTY>
<!ATTLIST SECOND_TABLE
	COL0 CDATA #FIXED "row 0 col 0"
	COL1 CDATA #FIXED "row 0 col 1"
>
